@model Binarios.Models.NumerosModel
@{
    ViewBag.Title = "Home Page";
}

<form asp-action="Resultado" method="post">
    <div class="text-center">
        <h1>Convertidor de número a binario.</h1>
    </div>
    <h2> Inserte los numeros </h2>
    @for (int i = 0; i < 10; i++)
    {

        <div class="input-group-prepend">
            <span class="input-group-text">Ingrese el número en la posición @(i + 1)</span>
            <input asp-for="Numeros[i]" class="form-control" />
        </div>

        <br />

    }

    <div class="text-center">
        <button class="btn btn-dark" type="submit"> Enviar </button>
    </div>
</form>